#
# ulib - a collection of useful classes
# Copyright (C) 2020-2025 Michael Fink
#
# AppVeyor build configuration file
#
version: 5.0.0.{build}

image: Visual Studio 2026

cache:
  - C:\Users\appveyor\AppData\Local\vcpkg\archives -> appveyor.yml
  - C:\projects\ulibcpp\intermediate\vcpkg_installed -> appveyor.yml

before_build:
  - cmd: nuget restore src\UlibCpp.sln
  - cmd: |
      cd "C:\Tools\vcpkg"
      git pull > nul
      call .\bootstrap-vcpkg.bat -disableMetrics

build:
  project: src/Build.proj
  publish_nuget: true
  verbosity: normal

after_build:
  - cmd: |
      cd %APPVEYOR_BUILD_FOLDER%\src\nupkg
      nuget pack

artifacts:
  - path: src\nupkg\*.nupkg
    name: NuGet package
